<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Begin</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% include "base/css.html" %}
    </head>
    <body>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam dignissimos vero at suscipit blanditiis fugiat doloribus magnam. Atque dolorem, quas quo possimus veniam quibusdam quasi itaque iusto ratione, dicta non! Deleniti animi ratione nihil?</p>
       
        
        {% include "base/js.html" %}
    </body>
</html>